<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Development Manual</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link rel="stylesheet" href="./css/bootstrap.min.css">
<script type="text/javascript" src="js/jquery-1.11.2.js"></script>
<script type="text/javascript" src="js/underscore.js"></script>
<script type="text/javascript" src="js/backbone.js"></script>

<link href="css/layout2.css" media="all" rel="stylesheet" />
<link href="css/slide.css" media="all" rel="stylesheet" />
<link href="css/font.css" media="all" rel="stylesheet" />
<link href="css/devaid.css" media="all" rel="stylesheet" />

<script type="text/javascript">

$(function(){
//
});

</script>


</head>

<body>

<script type="text/template" id="link-tpl">
		<tr>
		    <td><%= id %></td>
		    <td><a href="<%= url %>"><%= title %></a></td>
		    <td><%= url %></td>
		    <td><%= category %></td>
			<td><%= tags %></td>
		    <td>
			  <a href="/editlink.do?id=<%=id%>"><span class="glyphicon glyphicon-edit"></span></a>
			  <a href="/dellink.do?id=<%=id%>"><span class="glyphicon glyphicon-remove"></span></a>
			</td>
		  </tr>
</script>
    
<div id="container">
<div id="top">
<h1>HeFei Multi Media Multi User Room v1.0</h1>
<div id="header">
  
</div>
<div style="clear:both"></div>
</div>

<div id="leftnav" class="linkTab">
<ul>
	<li>List Room</li>
	<li>Search Room</li>
	<li>Create Room</li>
	<li>Join Room</li>
	<li>Leave Room</li>
	<li>Close Room</li>
</ul>
</div>
	
	
<div id="content">

<div class = "item" id="LinkDiv">
<h2>Join Room</h2>
<form method="post" action="">
<table class="contentTab table-striped table-bordered table-hover table-condensed">
<thead><tr>
    <th width="30%" style="text-align: right">MMUC URL: </th>
    <th><INPUT NAME="catetory" id="apiUrl" TYPE="text" size="40" value="http://localhost:8080/api/v1/rooms">
    &nbsp;<span>*</span>
    </th>
  </tr></thead>
<tbody>

<TR>
    <TD width="30%" align="right">Room name: </TD>
    <TD nowrap>
		 <INPUT NAME="roomName" id="url" size="40" TYPE="text" value="">
    &nbsp;<span>*</span>
    </TD>
</TR>
<TR>
    <TD align="right">Room number: </TD>
    <TD nowrap>
    <INPUT NAME="roomNumber" id="url" size="40" TYPE="text" value="">
    &nbsp;<span >*</span>
 
    </td>
</TR>
<TR>
    <TD align="right">Invite list : </TD>
    <TD nowrap>
    <INPUT NAME="roomNumber" id="url" size="60" TYPE="text" value="">
 
    </td>
</TR>

</tbody>
  <tfoot><tr>
    <td colspan="5">
    <input type="button" value="Join" id="btnSubmit" class="fullBtn">
    </td>
    </tr>
    </tfoot>
</TABLE>

</form>


</div>

<script type="text/template" id="linktpl">
	<tr>
	      <td><%=id%></td>
	      <td><a href="<%=url%>"><%=title%></a></td>
	      <td>
			  <%=url%>
	      </td>
	      <td>
    		  <%=category%>
	      </td>
	      <td>
    		  <%=tag%>
	      </td>
	      <td><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;&nbsp;&nbsp;
			  <span class="glyphicon glyphicon-remove"></span>
		   </td	
	</tr>
</script>

<div class="item">
<h2>API</h2>
<p>https://localhost:8080/api/v1/rooms</p>
<table border="1" class="contentTab table-striped table-bordered table-hover table-condensed">
	<tr><td>URL</td><td>HTTP Method</td><td>Operation</td></tr>
	<tr><td>/api/v1/rooms</td><td>POST</td><td>create a room</td></tr>
	<tr><td>/api/v1/rooms</td><td>GET</td><td>list all rooms</td></tr>
	<tr><td>/api/v1/rooms/:id</td><td>GET</td><td>retrieve a room</td></tr>
	<tr><td>/api/v1/rooms/:id</td><td>PUT</td><td>update a room</td></tr>
	<tr><td>/api/v1/rooms</td><td>DELETE</td><td>delete a  room</td></tr>
</table>
</div>

</div><!-- content div end -->
<div id="footer">
<h2>Copyright &copy; 2015-2016 <a
    href="mailto:walter.fan@gmail.com"> &nbsp; <em>Walter Fan</em></a> &nbsp; all rights
reserved.</h2>
</div>
</div>
</body>
</html>
